



*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
}
.boxA{
    background-color: chartreuse;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.box1{

    background-color: blueviolet;
    height: 100px;
    width: 100px;
}



.box2{
    background-color: rgb(226, 64, 43);
    height: 100px;
    width: 100px;
}

.boxB{
    background-color: rgb(42, 157, 165);
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 90px;
}

.boxC{
    background-color: rgb(255, 151, 246);
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin-left: 60px;
    


}

.boxD{
    background-color: rgb(248, 252, 47);
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 90px;
}

.box3{
    background-color: rgb(214, 129, 0);
    height: 100px;
    width: 100px;
}


.box4{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
}