



*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.boxA{
    background-color: chartreuse;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1{

    background-color: blueviolet;
    height: 100px;
    width: 100px;
}