




body{ 
    background-color: brown;
}

input{
    background-color: aquamarine;
}


.formular{
    display: flex;
    flex-direction:column;
    row-gap: 30px;}
    

.form{
    color: rgb(0, 0, 0);
    font-weight: bold;
}