@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
    
}

label{ 
    display: block;
}
form{
    background-color: rgb(143, 255, 158);
    padding: 15px; 
    border: 10px solid rgb(21, 126, 0);
    height:1000px;
    width: 500px;

}

h1{
    color: green;
    text-align: left;

}

button {
    display: block;
}